{% extends 'layout.html'%} {%block head%}
<title>flaskBlog</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock head %} {%block body%} {% for post in posts %}
<div class="post centeredHorizontally">
  <a class="title textPrimary" href="post/{{post[0]}}">{{post[1]}}</a>
  <br>
  <img src="https://storage.googleapis.com/uri-book-upload/{{post[2]}}.png" style="max-width: 50%;height: auto;" alt="Italian Trulli">
  <br>
  <a href="post/{{post[0]}}" class="btn btnLink">Details</a>
</div>
{% endfor %} {% endblock body %}
